//*********************************************************************************************
// Bootstrap stuff

// Core variables and mixins
@import "~bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/_mixins.scss";

// Reset and dependencies
@import "~bootstrap-sass/assets/stylesheets/bootstrap/_normalize.scss";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/_print.scss";
//@import "~bootstrap-sass/assets/stylesheets/bootstrap/_glyphicons.scss";

// Core CSS
@import "~bootstrap-sass/assets/stylesheets/bootstrap/_scaffolding.scss";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/_type.scss";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/_code.scss";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/_grid.scss";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/_tables.scss";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/_forms.scss";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/_buttons.scss";

// Components
// @import "~bootstrap-sass/assets/stylesheets/bootstrap/_component-animations.scss";
// @import "~bootstrap-sass/assets/stylesheets/bootstrap/_dropdowns.scss";
// @import "~bootstrap-sass/assets/stylesheets/bootstrap/_button-groups.scss";
// @import "~bootstrap-sass/assets/stylesheets/bootstrap/_input-groups.scss";
// @import "~bootstrap-sass/assets/stylesheets/bootstrap/_navs.scss";
// @import "~bootstrap-sass/assets/stylesheets/bootstrap/_navbar.scss";
// @import "~bootstrap-sass/assets/stylesheets/bootstrap/_breadcrumbs.scss";
// @import "~bootstrap-sass/assets/stylesheets/bootstrap/_pagination.scss";
// @import "~bootstrap-sass/assets/stylesheets/bootstrap/_pager.scss";
// @import "~bootstrap-sass/assets/stylesheets/bootstrap/_labels.scss";
// @import "~bootstrap-sass/assets/stylesheets/bootstrap/_badges.scss";
// @import "~bootstrap-sass/assets/stylesheets/bootstrap/_jumbotron.scss";
// @import "~bootstrap-sass/assets/stylesheets/bootstrap/_thumbnails.scss";
// @import "~bootstrap-sass/assets/stylesheets/bootstrap/_alerts.scss";
// @import "~bootstrap-sass/assets/stylesheets/bootstrap/_progress-bars.scss";
// @import "~bootstrap-sass/assets/stylesheets/bootstrap/_media.scss";
// @import "~bootstrap-sass/assets/stylesheets/bootstrap/_list-group.scss";
// @import "~bootstrap-sass/assets/stylesheets/bootstrap/_panels.scss";
// @import "~bootstrap-sass/assets/stylesheets/bootstrap/_responsive-embed.scss";
// @import "~bootstrap-sass/assets/stylesheets/bootstrap/_wells.scss";
// @import "~bootstrap-sass/assets/stylesheets/bootstrap/_close.scss";

// Components w/ JavaScript
// @import "~bootstrap-sass/assets/stylesheets/bootstrap/_modals.scss";
// @import "~bootstrap-sass/assets/stylesheets/bootstrap/_tooltip.scss";
// @import "~bootstrap-sass/assets/stylesheets/bootstrap/_popovers.scss";
// @import "~bootstrap-sass/assets/stylesheets/bootstrap/_carousel.scss";

// Utility classes
// @import "~bootstrap-sass/assets/stylesheets/bootstrap/_utilities.scss";
// @import "~bootstrap-sass/assets/stylesheets/bootstrap/_responsive-utilities.scss";

// Mixins
// @import '~bootstrap-sass/assets/stylesheets/bootstrap/_mixins.scss';

//*********************************************************************************************
// Font awesome
$fa-font-path: "~font-awesome/fonts/";
@import '~font-awesome/scss/font-awesome.scss';

//*********************************************************************************************
// Custon styles

// Global

body {
	overflow-y: scroll; // No jumpy scrollbar
}

// Navbar

.toolbar {
	background: $navbar-default-bg;
	border-bottom: 1px solid $navbar-default-border;
	margin-bottom: 20px;

	.site-title {
		float: left;
		background: #fc00c8;
		margin: 0;
		color: white;
		font-weight: bolder;
		font-family: serif;
		font-size: 30px;
		height: 45px;
		width: 40px;
		text-align: center;
	}

	.filter-form {
		display: block;
		margin-left: 47px;
		margin-top: 5px;
		> .form-group {
			display: block;
			margin: 0;
			> .form-control {
				display: block;
			}
		}
	}
}

// Icons
.icons {
	$iconSize: 40px;
	margin: 0;
	padding: 0;
	list-style: none;

	> li {
		display: inline-block;
		margin-right: 15px;
		margin-bottom: 5px;
	}

	@mixin clickable() {
		cursor: pointer;
		&:hover {
			text-decoration: underline;
			color: $brand-primary;
		}
	}

	.icon {
		> i {
			float: left;
			font-size: $iconSize;
			min-width: $iconSize * 1.5;
		}
		> div {
			float: left;
			line-height: $iconSize / 2;
			width: 210px; // Fit 4 columns in bs container
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
			> .name {
				@include clickable;
				font-weight: bold;
			}
			> .class-name {
				@include clickable;
				color: $text-muted;
				font-family: monospace;
			}
		}
	}
}
